*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4f4f4;
}

.page {
  display: flex; 
  justify-content: space-between; 
  margin-top: 80px; 
  padding: 40px 40px 100px 40px;
}

.container {
  width: 25%; 
  background-color: #ffffff;
  padding: 30px; /* Reduced padding */
  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
}

.container h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px; 
}

label {
  font-size: 16px;
  color: #555;
  margin-bottom: 5px;
}

input {
  width: 100%;
  font-size: 14px; 
  padding: 10px; 
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #003366;
}

input::placeholder {
  font-size: 13px;
  font-style: italic;
  color: #999;
}

button {
  background-color: #003366;
  color: white;
  font-size: 16px;
  padding: 10px; 
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}



span {
  font-size: 12px;
  color: #555;
  text-align: center;
  margin-top: 10px; 
}

span a {
  color: #7a42f4;
  text-decoration: none;
  font-weight: 500;
}

span a:hover {
  text-decoration: underline;
}


@media (min-width: 1200px) {
  .page {
    flex-direction: row;
  }

  .container {
    width: 25%; 
  }
}

@media (max-width: 1200px) and (min-width: 768px) {
  .page {
    flex-direction: row;
    gap: 20px;
  }

  .container {
    width: 80%; 
  }

  form {
    gap: 15px;
  }

  input, button {
    padding: 10px;
    font-size: 14px;
  }

  h1 {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  .page {
    flex-direction: column; 
    margin-top: 80px;
  }

  .container {
    width: 100%;
    margin-top: 20px;
  }

  input, button {
    padding: 10px;
    font-size: 14px;
  }

  button {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 20px;
  }

  .container h1 {
    font-size: 20px;
  }

  form {
    gap: 12px;
  }

  input, button {
    padding: 8px;
    font-size: 14px;
  }

  button {
    font-size: 14px;
  }

  span {
    font-size: 12px;
  }
}
